button{
    border: none;
    border-radius: 8px;
    width: 445px;
    height: 45px;
    background-color: #302a59;
    font-size: 1.5rem;
    color: #ebebeb;
    margin-top: 80px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    
}

button:hover{
    border: 2px solid white;
}