*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Metal Mania', cursive;
}

.App {
  text-align: center;
  background-color: #0E0E0E;
  background-image: url('../assets/hogwarts.png');
  background-position: 0% -70%;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}




